img {
    height: 40vh; 
    object-fit: cover; 
   
}

.carousel-item:nth-child(1) img {
    object-position: 0 -250px; 
    filter: brightness(95%);
}

.carousel-item:nth-child(2) img {
    object-position: 0 -420px; 
    filter: brightness(70%) blur(2px);
  
}

.carousel-item:nth-child(3) img {
    object-position: 0 -620px; 
    filter: brightness(70%) blur(2px);
   
}
