
<app-img-equipo></app-img-equipo>
<app-logo></app-logo>




<app-p
h2="CS2: Guerreros en Acción"
p="Estamos compitiendo actualmente en el torneo de Faceit, con la aspiración de avanzar desde la categoría 'intermediate' hasta la categoría 'main'. Contamos con un roster conformado por seis jugadores, cinco titulares y uno de rotación, que se adaptan según el mapa que estemos jugando.

Nuestros jugadores residen tanto en México como en Estados Unidos, y contamos con un coach Argentino. Estamos trabajando en combinar diferentes estilos de juego para obtener mejores resultados en las competiciones y seguir creciendo como equipo.

Aunque nuestro equipo está completo en este momento, de forma habitual llevamos a cabo pruebas para descubrir nuevos talentos que puedan fortalecer nuestro roster en el futuro. Buscamos mantenernos competitivos y siempre abiertos a nuevas oportunidades para mejorar nuestro nivel de juego.">
</app-p>


<div class="container mx-auto">
  <div class="row justify-content-space-evenly">
  <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="es como el IGL de nuestro equipo"
        nombre="nombre"
        tag="po110"
        roll="In Game Leader"
        imagen="../../../assets/po110.jpg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Es como s1mple, pero marron"
        nombre="nombre"
        tag="Gho"
        roll="Awper"
        imagen="../../../assets/Gho.jpeg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Soy entry fragger para el equipo de noctics"
        nombre="nombre"
        tag="Nero"
        roll="entry fragger"
        imagen="../../../assets/Nero.jpg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Jugador con residencia en eeuu"
        nombre="nombre"
        tag="IqM"
        roll="Support"
        imagen="../../../assets/profile.jpg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Me cae bien, porque me hace acordar a un amigo"
        nombre="nombre"
        tag="Karlitos"
        roll="Short caller / second Awper"
        imagen="../../../assets/profile.jpg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Nuevo jugador, con futuro prometedor"
        nombre="nombre"
        tag="Deivid"
        roll="entry fragger"
        imagen="../../../assets/profile.jpg"
      ></app-playercard>
    </div>
  </div>
</div>

<app-p 
h2="Remeras de Valor y Distinción"
p="Inspirándonos en la cultura mesoamericana, basamos la idea del logotipo en los Guerreros Jaguar y los Guerreros Águila.

El Guerrero Jaguar (ocēlōpilli) era un miembro del ejército mexica que servía como soldado profesional dentro de las fuerzas del imperio azteca, al igual que los Guerreros Águila. Sin embargo, había una diferencia entre ellos: los Guerreros Jaguar pertenecían a la clase baja (mācēhualtin), mientras que los Guerreros Águila eran de la nobleza.

Ambos eran guerreros fuertes y honorables, por lo que decidí representarnos con ellos. Los jaguares simbolizan la fuerza y el coraje que no discriminan a nadie, a pesar de pertenecer a una clase social más baja, lo que refleja que nuestro equipo está abierto a todos, desde amateurs hasta profesionales.

Por otro lado, los Guerreros Águila representan a Noctis en su búsqueda de mayor alcance y renombre, dada su asociación con la nobleza.">
</app-p>
  
<app-camisetas class="mb-5"></app-camisetas>
<app-texto2-equipo></app-texto2-equipo>
