

<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <img src="assets/noctis_bellator_logo.png" alt="Noctis Bellator Logo" class="img-fluid" class="logo">
    </div>
  </div>
</div>



<app-img-equipo></app-img-equipo>

<app-p
h2="NOCTIS GAMING, AN ENTHUSIAST GAMING BRAND"
p="Founded in 2015, Luminosity Gaming is an Enthusiast Gaming ($EGLX) brand and one of the largest gaming and esports teams in the world. Luminosity Gaming has earned its reputation as one of the world's most significant gaming and esports entities through its success in numerous competitive games, a roster of popular content creators.
 This dynamic blend of competitive excellence and content creation has established Noctis Bellator as a leader in the evolving landscape of esports and gaming culture.">
</app-p>


<div class="container mx-auto">
  <div class="row justify-content-space-evenly">
  <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="es como el IGL de nuestro equipo"
        nombre="nombre"
        tag="po110"
        roll="In Game Leader"
        imagen="../../../assets/po110.jpg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Es como s1mple, pero marron"
        nombre="nombre"
        tag="Gho"
        roll="Awper"
        imagen="../../../assets/Gho.jpeg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Soy entry fragger para el equipo de noctics"
        nombre="nombre"
        tag="Nero"
        roll="entry fragger"
        imagen="../../../assets/Nero.jpg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Jugador con residencia en eeuu"
        nombre="nombre"
        tag="iql"
        roll="Support"
        imagen="../../../assets/profile.jpg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Me cae bien, porque me hace acordar a un amigo"
        nombre="nombre"
        tag="Karlitos"
        roll="Short caller / second Awper"
        imagen="../../../assets/profile.jpg"
      ></app-playercard>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <app-playercard
        descripcion="Nuevo jugador, con futuro prometedor"
        nombre="nombre"
        tag="Deivid"
        roll="entry fragger"
        imagen="../../../assets/profile.jpg"
      ></app-playercard>
    </div>
  </div>
</div>

  <app-p 
  h2="Our T-shirts"
  p="Here's a text in English that talks about your organization's shirts as a sports team:
      
  Elevate Your Game with Our Team's Custom Shirts
  
  At Noctis Bellator, we're more than just a sports team—we're a community united by our passion for the game. One of the ways we showcase our team spirit is through our custom-designed shirts, which are as stylish as they are functional.
  
  Our shirts are made with high-quality, breathable fabric that keeps you comfortable on and off the field. Whether you're training hard, competing, or cheering from the sidelines, our shirts provide the perfect combination of flexibility and durability.
  
  The design features our team colors and emblem, so you can proudly display your affiliation and support wherever you go. With sizes and styles available for everyone.
  
  Wearing our team's shirts isn't just about representing our organization—it's about embracing our shared commitment to excellence. Join us and wear our colors with pride!">
  </app-p>
  

  <app-camisetas></app-camisetas>
<app-texto2-equipo></app-texto2-equipo>









<!--
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-md-4">
        <figure class="snip0064">
            <figure class="snip0064">
                <figcaption>
                  <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
                  <h2>Jody <span>po110</span></h2><span class="position">In Game Leader</span>
                </figcaption>
                <div class="image"><img src="../../../assets/po110.jpg" alt="sample10" /></div>
                <a href="#"></a>
              </figure>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="snip0064">
            <figure class="snip0064">
                <figcaption>
                  <p>I'm just very selective about the reality I choose to accept.</p>
                  <h2>Jaime <span>Gho</span></h2><span class="position">Awper</span>
                </figcaption>
                <div class="image"><img src="../../../assets/Gho.jpeg" alt="sample13" /></div>
                <a href="#"></a>
              </figure>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="snip0064">
            <figure class="snip0064">
                <figcaption>
                  <p>Soy entry fragger para el equipo de noctics</p>
                  <h2>Joel <span>Nero</span></h2><span class="position">Entry</span>
                </figcaption>
                <div class="image"><img src="../../../assets/Nero.jpg" alt="sample10" /></div>
                <a href="#"></a>
              </figure>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <figure class="snip0064">
            <figure class="snip0064">
                <figcaption>
                  <p>I'm just very selective about the reality I choose to accept.</p>
                  <h2>Jaime <span>Karlitos</span></h2><span class="position">Entry</span>
                </figcaption>
                <div class="image"><img src="../../../assets/profile.jpg" alt="sample13" /></div>
                <a href="#"></a>
              </figure>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="snip0064">
            <figure class="snip0064">
                <figcaption>
                  <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
                  <h2>Jody <span>Deivid</span></h2><span class="position">Lurker</span>
                </figcaption>
                <div class="image"><img src="../../../assets/profile.jpg" alt="sample10" /></div>
                <a href="#"></a>
              </figure>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="snip0064">
            <figure class="snip0064">
                <figcaption>
                  <p>I'm just very selective about the reality I choose to accept.</p>
                  <h2>Jaime <span>iql</span></h2><span class="position">Support</span>
                </figcaption>
                <div class="image"><img src="../../../assets/profile.jpg" alt="sample13" /></div>
                <a href="#"></a>
              </figure>
        </figure>
      </div>
    </div>
  </div>
-->
