
<app-p 
h2="Meet Our Content Creators"
p="Our organization is home to a vibrant community of content creators who are passionate about gaming and dedicated to providing engaging and entertaining content for fans like you. Here are a few reasons why you should follow them:
    
Diverse Content: Our creators offer a wide range of content, from live streams and gameplays to tutorials and reviews. Whether you're looking for competitive esports matches or casual playthroughs, you'll find it all in one place.">
</app-p>

<div class="container custom-container">
  <div class="row">
    <div class="col-md-4">
<app-carta
nombre="ArlenZukii"
descripcion="Hola chic@s, mi nombre es Arlen pero pueden decirme Zukii o Tau, soy creadora de contenido en la Plataforma de Twitch, los espero uwu"
imagen="../../assets/arlen.png"
instagram="https://www.instagram.com/arlenzukii"
twitter="https://twitter.com/ArlenZukii"
tiktok="https://www.tiktok.com/@arlenzukii"
twitch="https://www.twitch.tv/arlenzukii"
></app-carta>
    </div>


    <div class="col-md-4">
<app-carta
nombre="elzamabhr"
descripcion="Que onda raza! yo soy el zama, ingeniero de software de dia y gamer sin manos de noche."
imagen="../../assets/elzamabhr.JPG"
instagram="https://www.instagram.com/elzamabhr"
twitter="https://twitter.com/ElZamaBHR"
tiktok="https://www.tiktok.com/@elzamabhr"
twitch="https://www.twitch.tv/elzamabhr"
></app-carta>
</div>

<div class="col-md-4">
<app-carta
nombre="WadaGamer"
descripcion="Me llamo Marco y en este espacio trato de hacer una de las cosas que mas me gusta en la vida los videojuegos una forma de entretenimiento para las demás personas."
imagen="../../assets/wadagamer.png"
instagram="https://www.instagram.com/wadagamer1/"
twitter="https://twitter.com/WadaGamer1"
tiktok="https://www.tiktok.com/@wadagamer"
twitch="https://www.twitch.tv/wadagamer"
></app-carta>
</div>
</div>

<div class="row">
<div class="col-md-4">
<app-carta
nombre="ArlenZukii"
descripcion="Hola chic@s, mi nombre es Arlen pero pueden decirme Zukii o Tau, soy creadora de contenido en la Plataforma de Twitch, los espero uwu"
imagen="../../assets/arlen.png"
instagram="https://www.instagram.com/arlenzukii"
twitter="https://twitter.com/ArlenZukii"
tiktok="https://www.tiktok.com/@arlenzukii"
twitch="https://www.twitch.tv/arlenzukii"
></app-carta>
</div>

<div class="col-md-4">
<app-carta
nombre="elzamabhr"
descripcion="Que onda raza! yo soy el zama, ingeniero de software de dia y gamer sin manos de noche."
imagen="../../assets/elzamabhr.JPG"
instagram="https://www.instagram.com/elzamabhr"
twitter="https://twitter.com/ElZamaBHR"
tiktok="https://www.tiktok.com/@elzamabhr"
twitch="https://www.twitch.tv/elzamabhr"
></app-carta>
</div>

<div class="col-md-4">
<app-carta
nombre="WadaGamer"
descripcion="Me llamo Marco y en este espacio trato de hacer una de las cosas que mas me gusta en la vida los videojuegos una forma de entretenimiento para las demás personas."
imagen="../../assets/wadagamer.png"
instagram="https://www.instagram.com/wadagamer1/"
twitter="https://twitter.com/WadaGamer1"
tiktok="https://www.tiktok.com/@wadagamer"
twitch="https://www.twitch.tv/wadagamer"
></app-carta>
</div>
</div>
</div>


<app-p 
h2="Meet Our Content Creators"
p="Our organization is home to a vibrant community of content creators who are passionate about gaming and dedicated to providing engaging and entertaining content for fans like you. Here are a few reasons why you should follow them:
    
Diverse Content: Our creators offer a wide range of content, from live streams and gameplays to tutorials and reviews. Whether you're looking for competitive esports matches or casual playthroughs, you'll find it all in one place.">
</app-p>

 <!-- 
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <figure class="snip0057 red hover">
        <figcaption>
          <h2><span>ArlenZukii</span></h2>
          <p>Hola chic@s, mi nombre es Arlen pero pueden decirme Zukii o Tau, soy creadora de contenido en la Plataforma de Twitch, los espero uwu</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption>
        <div class="image"><img src="../../assets/arlen.png" alt="sample4"/></div>
        <div class="position"><div>
          <a href="https://www.instagram.com/arlenzukii" target="_blank" class="me-3 text-reset">
            <i  class="fab fa-instagram"></i>
          </a>
          
          <a href="https://twitter.com/ArlenZukii"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.tiktok.com/@arlenzukii"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-tiktok"></i>
          </a>
        
          <a href="https://www.twitch.tv/arlenzukii"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitch" ></i>
          </a>
        </div></div>
      </figure>
    </div>

    <div class="col-md-4">
      <figure class="snip0057 red hover">
        <figcaption>
          <h2>Marco <span>WadaGamer</span></h2>
          <p>Me llamo Marco y en este espacio trato de hacer una de las cosas que mas me gusta en la vida los videojuegos una forma de entretenimiento para las demás personas.</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption>
        <div class="image"><img src="../../assets/wadagamer.png" alt="sample4"/></div>
        <div class="position"><div>
          <a href="https://www.instagram.com/wadagamer1/" target="_blank" class="me-3 text-reset">
            <i  class="fab fa-instagram"></i>
          </a>
          
          <a href="https://twitter.com/WadaGamer1"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.tiktok.com/@wadagamer"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-tiktok"></i>
          </a>
        
          <a href="https://www.twitch.tv/wadagamer"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitch" ></i>
          </a>
        </div></div>
      </figure>
    </div>

    <div class="col-md-4">
      <figure class="snip0057 red hover">
        <figcaption>
          <h2><span>elzamabhr</span></h2>
          <p>Que onda raza! yo soy el zama, ingeniero de software de dia y gamer sin manos de noche.</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption>
        <div class="image"><img src="../../assets/elzamabhr.JPG" alt="sample4"/></div>
        <div class="position"><div>
          <a href="https://www.instagram.com/elzamabhr" target="_blank" class="me-3 text-reset">
            <i  class="fab fa-instagram"></i>
          </a>
          
          <a href="https://twitter.com/ElZamaBHR"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.tiktok.com/@elzamabhr"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-tiktok"></i>
          </a>
        
          <a href="https://www.twitch.tv/elzamabhr"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitch" ></i>
          </a>
        </div></div>
      </figure>
    </div>


  <div class="row">
    <div class="col-md-4">
      <figure class="snip0057 red hover">
        <figcaption>
          <h2>Victoria <span>Pena</span></h2>
          <p>A voice crackles in Calvin's radio: "Enemy fighters at two o'clock!" "Roger. What should I do until then?"</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption>
        <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4"/></div>
        <div class="position"><div>
          <a href="https://www.instagram.com/noctisbellatormx" target="_blank" class="me-3 text-reset">
            <i  class="fab fa-instagram"></i>
          </a>
          
          <a href="https://twitter.com/Noctis_Bellator"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.tiktok.com/@noctisbellatormx"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-tiktok"></i>
          </a>
        
          <a href="https://www.twitch.tv/noctisbellatormx"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitch" ></i>
          </a>
        </div></div>
      </figure>
    </div>


    <div class="col-md-4">
      <figure class="snip0057 red hover">
        <figcaption>
          <h2>Victoria <span>Pena</span></h2>
          <p>A voice crackles in Calvin's radio: "Enemy fighters at two o'clock!" "Roger. What should I do until then?"</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption>
        <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4"/></div>
        <div class="position"><div>
          <a href="https://www.instagram.com/noctisbellatormx" target="_blank" class="me-3 text-reset">
            <i  class="fab fa-instagram"></i>
          </a>
          
          <a href="https://twitter.com/Noctis_Bellator"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.tiktok.com/@noctisbellatormx"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-tiktok"></i>
          </a>
        
          <a href="https://www.twitch.tv/noctisbellatormx"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitch" ></i>
          </a>
        </div></div>
      </figure>
    </div>


    <div class="col-md-4">
      <figure class="snip0057 red hover">
        <figcaption>
          <h2>Victoria <span>Pena</span></h2>
          <p>A voice crackles in Calvin's radio: "Enemy fighters at two o'clock!" "Roger. What should I do until then?"</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption>
        <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4"/></div>
        <div class="position"><div>
          <a href="https://www.instagram.com/noctisbellatormx" target="_blank" class="me-3 text-reset">
            <i  class="fab fa-instagram"></i>
          </a>
          
          <a href="https://twitter.com/Noctis_Bellator"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.tiktok.com/@noctisbellatormx"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-tiktok"></i>
          </a>
        
          <a href="https://www.twitch.tv/noctisbellatormx"  target="_blank" class="me-3 text-reset">
            <i class="fab fa-twitch" ></i>
          </a>
        </div></div>
      </figure>
    </div>
 -->