
<app-p 
h2="Conoce a nuestros creadores de contenidos"
p="Nuestros creadores de contenido son una parte integral de nuestra presencia en redes sociales, especialmente en plataformas como Twitch. Estos talentosos streamers trabajan continuamente y en diversos horarios para fomentar el crecimiento de nuestra marca y comunidad, compartiendo su pasión por los videojuegos con una audiencia global.

Arlenzukki: Conocido por su estilo entretenido y habilidades excepcionales en los videojuegos, Arlenzukki atrae a espectadores de todas partes. Su carisma y dedicación a su comunidad hacen que sus transmisiones sean muy populares y únicas.
Elzamabhr: Un creador de contenido destacado que combina estrategia y humor en sus transmisiones. Elzamabhr ofrece a sus seguidores una experiencia envolvente y divertida, convirtiéndose en una figura querida en el mundo del streaming.

Wadagamer: Con una perspectiva fresca y un enfoque innovador, Wadagamer se destaca por su capacidad para conectar con su audiencia. Sus transmisiones son siempre emocionantes e interactivas, creando un espacio acogedor para todos los entusiastas de los videojuegos.
Estos creadores trabajan arduamente para fortalecer nuestra marca y comunidad, participando activamente en redes sociales y generando contenido atractivo para sus seguidores. Gracias a su esfuerzo, nuestra organización sigue creciendo y estableciendo una sólida presencia en el mundo del gaming en línea.">
</app-p>



<div class="container mx-auto">
<div class="row justify-content-space-evenly">
<div class="col-xl-4 col-lg-6 col-sm-12">
  <app-carta
        nombre="ArlenZukii"
        descripcion="Hola chic@s, mi nombre es Arlen pero pueden decirme Zukii o Tau, soy creadora de contenido en la Plataforma de Twitch, los espero uwu"
        imagen="../../assets/arlen.png"
        instagram="https://www.instagram.com/arlenzukii"
        twitter="https://twitter.com/ArlenZukii"
        tiktok="https://www.tiktok.com/@arlenzukii"
        twitch="https://www.twitch.tv/arlenzukii"
      ></app-carta>
</div>




<div class="col-xl-4 col-lg-6 col-sm-12">
  <app-carta
        nombre="elzamabhr"
        descripcion="Que onda raza! yo soy el zama, ingeniero de software de día y gamer sin manos de noche."
        imagen="../../assets/elzamabhr.JPG"
        instagram="https://www.instagram.com/elzamabhr"
        twitter="https://twitter.com/ElZamaBHR"
        tiktok="https://www.tiktok.com/@elzamabhr"
        twitch="https://www.twitch.tv/elzamabhr"
      ></app-carta>
</div>



<div class="col-xl-4 col-lg-6 col-sm-12">
  <app-carta
        nombre="WadaGamer"
        descripcion="Me llamo Marco y hago una de las cosas que más me gusta en la vida los videojuegos como forma de entretenimiento para las demás personas."
        imagen="../../assets/wadagamer.png"
        instagram="https://www.instagram.com/wadagamer1/"
        twitter="https://twitter.com/WadaGamer1"
        tiktok="https://www.tiktok.com/@wadagamer"
        twitch="https://www.twitch.tv/wadagamer"
      ></app-carta>
</div>



<div class="col-xl-4 col-lg-6 col-sm-12">
  <app-carta
        nombre="NOMBRE"
        descripcion="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore quidem optio quos voluptatibus ab similique ad fugiat rem nemo voluptate."
        imagen="../../assets/profile.jpg"
        instagram="https://www.instagram.com/arlenzukii"
        twitter="https://twitter.com/ArlenZukii"
        tiktok="https://www.tiktok.com/@arlenzukii"
        twitch="https://www.twitch.tv/arlenzukii"
      ></app-carta>
</div>




<div class="col-xl-4 col-lg-6 col-sm-12">
  <app-carta
        nombre="NOMBRE"
        descripcion="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore quidem optio quos voluptatibus ab similique ad fugiat rem nemo voluptate."
        imagen="../../assets/profile.jpg"
        instagram="https://www.instagram.com/arlenzukii"
        twitter="https://twitter.com/ArlenZukii"
        tiktok="https://www.tiktok.com/@arlenzukii"
        twitch="https://www.twitch.tv/arlenzukii"
      ></app-carta>
</div>



<div class="col-xl-4 col-lg-6 col-sm-12">
  <app-carta
  nombre="NOMBRE"
  descripcion="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore quidem optio quos voluptatibus ab similique ad fugiat rem nemo voluptate."
  imagen="../../assets/profile.jpg"
  instagram="https://www.instagram.com/arlenzukii"
  twitter="https://twitter.com/ArlenZukii"
  tiktok="https://www.tiktok.com/@arlenzukii"
  twitch="https://www.twitch.tv/arlenzukii"
></app-carta></div>
</div>
</div>


<app-p 
h2="¿Te gustaría unirte a Noctis como creador de contenido?"
p="¡Contáctanos y háznoslo saber! Únete a nuestra familia y forma parte de este emocionante proyecto que está revolucionando el mundo de los esports. Estamos buscando personas apasionadas por los videojuegos y con ganas de compartir su talento y creatividad.

Como creador de contenido de Noctis, tendrás la oportunidad de llegar a una amplia audiencia y colaborar con otros entusiastas de los esports. Además, formarás parte de un equipo comprometido con el crecimiento de nuestra comunidad y el éxito de todos sus miembros. Si tienes el amor por los esports y estás listo para aportar tu energía y creatividad, ¡nos encantaría contar contigo! ¡Esperamos saber de ti pronto!">
</app-p>
