.text-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}


@media (max-width: 768px) {
  .text-container {
    top:3325px;
  }
}

@media (min-width: 768px) {
  .text-container {
    top:2850px;
  }
}

@media (min-width: 992px) {
  .text-container {
    top: 1850px;
  }
}

@media (min-width: 1200px) {
  .text-container {
    top: 1700px;
  }

  .car {
    width: 50%;
  }
}

