.text-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .text-container {
    top: 4200px;
  }
}

@media (max-width: 576px) {
  .text-container {
    top: 4300px;
  }
}

@media (min-width: 768px) {
  .text-container {
    top: 3850px;
  }
}

@media (min-width: 992px) {
  .text-container {
    top: 2300px;
  }
}

@media (min-width: 1200px) {
  .text-container {
    top: 1750px;
  }
}

