<div class="container">
    <div class="row g-5 mt-5 mb-5">
      <!-- Columna para la imagen -->
      <div class="col-sm-6">
        <div class="card text-bg-dark">
          <img src="../../../assets/counter-strike-2.webp" class="card-img styled-img" alt="...">
        </div>
      </div>
  
      <!-- Columna para el texto -->
      <div class="col-sm-6">
        <div class="card text-bg-dark">
            <div class="card-img-overlay">
                <h3 class="card-title text-center">Challenge Us to a Match!</h3>
                <p class="card-text ">Are you ready to put your skills to the test? Our team is open to scheduling matches with other dedicated and competitive players. Whether you're seeking friendly competition or a serious challenge, we'd love to go head-to-head with your team.</p>
                <p class="card-text">Why Play Against Us?</p>
                <ul>
                    <li>Competitive Spirit: Experience intense and engaging gameplay.</li>
                    <li>Strategic Play: Put your strategies to the test and learn new techniques.</li>
                </ul>
            </div>
        </div>
    </div>
    
  
 
    <div class="row g-5 mt-5 mb-5">
      <div class="col-sm-6">
          <div class="card text-bg-dark">
              <div class="card-img-overlay">
                  <h3 class="card-title">Join Our Counter-Strike 2 Team Tryouts</h3>
                  <p class="card-text">Are you ready to put your skills to the test in Counter-Strike 2? We are inviting dedicated and passionate players to try out for our elite team! Whether you're an experienced veteran or an up-and-coming player, we want to see what you can do.</p>
                  <p class="card-text">Why Try Out for Our Team?</p>
                  <ul>
                    <li>Top Training: Learn from our skilled coaches.</li>
                    <li>Competitive Play: Compete in top tournaments.</li>
                  </ul>
              </div>
          </div>
      </div>
 
  


<div class="col-sm-6">
  <div class="card text-bg-dark">
    <img src="../../../assets/counter-strike.webp" class="card-img styled-img2" alt="...">
  </div>
</div>
</div>
</div>
