<div class="container mx-auto">
  <div class="row g-5 mt-5 mb-5">
      <!-- Columna para la imagen -->
      <div class="col-md-6 col-sm-12">
          <div class="card text-bg-dark">
              <img src="../../../assets/counter-strike-2.webp" class="card-img grados" alt="...">
          </div>
      </div>

      <!-- Columna para el texto -->
      <div class="col-md-6 col-sm-12">
          <div class="card text-bg-dark">
              <div class="card-img-overlay">
                  <h3 class="card-title text-center">¡Rétanos a un Partido!</h3>
                  <p class="card-text">¿Estás listo para poner a prueba tus habilidades? Nuestro equipo está abierto a programar partidos con otros jugadores dedicados y competitivos. Ya sea que busques competencia amistosa o un desafío serio, nos encantaría enfrentarnos cara a cara con tu equipo.</p>
                  <p class="card-text">¿Por qué jugar contra nosotros?</p>
                  <ul>
                      <li>Espíritu competitivo: Experimenta un juego intenso y emocionante.</li>
                      <li>Juego estratégico: Pon a prueba tus estrategias y aprende nuevas técnicas.</li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="row g-5 mt-5 mb-5">
          <div class="col-md-6 col-sm-12">
              <div class="card text-bg-dark">
                  <div class="card-img-overlay">
                      <h3 class="card-title">Únete a las Pruebas de Nuestro Equipo de Counter-Strike 2</h3>
                      <p class="card-text">¿Estás listo para poner a prueba tus habilidades en Counter-Strike 2? Invitamos a jugadores dedicados y apasionados a participar en las pruebas de nuestro equipo élite. Ya seas un veterano experimentado o un jugador en ascenso, queremos ver lo que puedes hacer.</p>
                      <p class="card-text">¿Por qué probar para nuestro equipo?</p>
                      <ul>
                          <li>Entrenamiento de primer nivel: Aprende de nuestros entrenadores expertos.</li>
                          <li>Juego competitivo: Compite en los mejores torneos.</li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-6 col-sm-12">
              <div class="card text-bg-dark">
                  <img src="../../../assets/counter-strike.webp" class="card-img grados2" alt="...">
              </div>
          </div>
      </div>
  </div>
</div>
