

<div class="container mt-5 px-4">
    <!-- Primera fila -->
    <div class="row">
        <!-- Primer elemento: texto -->
        <div class="col-md-6 col-sm-12">
            <h3 class="card-title text-center">¡Rétanos a un Partido!</h3>
                  <p class="card-text">¿Estás listo para poner a prueba tus habilidades? Nuestro equipo está abierto a programar partidos con otros jugadores dedicados y competitivos. Ya sea que busques competencia amistosa o un desafío serio, nos encantaría enfrentarnos cara a cara con tu equipo.</p>
                  <p class="card-text">¿Por qué jugar contra nosotros?</p>
                  <ul>
                      <li>Espíritu competitivo: Experimenta un juego intenso y emocionante.</li>
                      <li>Juego estratégico: Pon a prueba tus estrategias y aprende nuevas técnicas.</li>
                  </ul>
        </div>
        <!-- Segundo elemento: imagen -->
        <div class="col-md-6 col-sm-12">
            <div class="card text-bg-dark">
            <img src="../../../assets/counter-strike-2.webp" alt="Descripción de la imagen" class="img-fluid card-img grados2">
        </div>
    </div>
    </div>

    <!-- Segunda fila -->
    <div class="row mt-4">
        <!-- Primer elemento: imagen -->
        <div class="col-md-6 col-sm-12 mt-5">
            <div class="card text-bg-dark">
            <img src="../../../assets/counter-strike.webp" alt="Descripción de la imagen" class="img-fluid card-img grados">
        </div></div>
        <!-- Segundo elemento: texto -->
        <div class="col-md-6 col-sm-12 mt-5">
            <h3 class="card-title text-center">Pruebate en nuestro Equipo</h3>
            <p class="card-text">¿Estás listo para poner a prueba tus habilidades en Counter-Strike 2? Invitamos a jugadores dedicados y apasionados a participar en las pruebas de nuestro equipo élite. Ya seas un veterano experimentado o un jugador en ascenso, queremos ver lo que puedes hacer.</p>
            <p class="card-text">¿Por qué probar para nuestro equipo?</p>
            <ul>
                <li>Entrenamiento de primer nivel: Aprende de nuestros entrenadores expertos.</li>
                <li>Juego competitivo: Compite en los mejores torneos.</li>
            </ul>
        </div>
    </div>
</div>
