<app-p 
h2="¿Quiénes somos?"
p="Noctis Bellator es una organización pionera mexicana dedicada a promover el crecimiento y desarrollo de los deportes electrónicos a nivel regional e internacional. La organización participa activamente en la organización y realización de eventos competitivos y en la curaduría de diversas actividades que reúnen a personas apasionadas por sus videojuegos favoritos. A través de estos esfuerzos, Noctis Bellator busca construir una comunidad vibrante de jugadores de diversos orígenes y niveles de habilidad, fomentando una cultura de camaradería y respeto mutuo.

Al brindar oportunidades para que los jugadores participen en competiciones saludables, Noctis Bellator busca elevar la experiencia de los deportes electrónicos para todos los involucrados. La visión de la organización va más allá de México, buscando expandirse por toda América Latina y eventualmente por todo el mundo. Esta expansión incluye la creación de una comunidad internacional e inclusiva que comparte un interés común por el gaming.

Los esfuerzos de Noctis Bellator abarcan la promoción de talento emergente, la provisión de recursos educativos y el apoyo a iniciativas que avanzan el panorama de los deportes electrónicos. A través de la colaboración dentro de la industria del gaming, la organización juega un papel crucial en la configuración del futuro.">
</app-p>

<div  class="container-fluid p-4">
<app-p
h2="Colores y Logo"
p="Inspirándonos en la cultura mesoamericana, basamos la idea del logotipo en los Guerreros Jaguar y los Guerreros Águila.

El Guerrero Jaguar (ocēlōpilli) era un miembro del ejército mexica que servía como soldado profesional dentro de las fuerzas del imperio azteca, al igual que los Guerreros Águila. Sin embargo, había una diferencia entre ellos: los Guerreros Jaguar pertenecían a la clase baja (mācēhualtin), mientras que los Guerreros Águila eran de la nobleza.

Ambos eran guerreros fuertes y honorables, por lo que decidí representarnos con ellos. Los jaguares simbolizan la fuerza y el coraje que no discriminan a nadie, a pesar de pertenecer a una clase social más baja, lo que refleja que nuestro equipo está abierto a todos, desde amateurs hasta profesionales.

Por otro lado, los Guerreros Águila representan a Noctis en su búsqueda de mayor alcance y renombre, dada su asociación con la nobleza.">
</app-p>
</div>