<app-p 
h2="How are we?"
p="Noctis Bellator is a pioneering Mexican organization dedicated to promoting the growth and development of esports on a regional and international scale. The organization actively participates in organizing and hosting competitive events and curating various activities that bring together individuals passionate about their favorite video games. Through these endeavors, Noctis Bellator strives to build a vibrant community of gamers from diverse backgrounds and skill levels, fostering a culture of camaraderie and mutual respect.

By providing opportunities for players to engage in healthy competition, Noctis Bellator aims to elevate the esports experience for all involved. The organization's vision extends beyond Mexico, seeking to expand its reach across Latin America and eventually across the globe. This expansion includes creating an inclusive, international, and multicultural community that shares a common for gaming.

Noctis Bellator's efforts encompass nurturing emerging talent, providing educational resources, and supporting initiatives that advance the esports landscape. Through collaboration within the gaming industry, the organization plays a crucial role in shaping the future.">
</app-p>




<!--<div class="container text-center mt-4 p-5 pb-1">
  <div class="row justify-content-center">
      <div class="col-sm-10 col-lg-12">
          <h2 class="mb-4">How are we?</h2>
          <p class="mb-1">
              Noctis Bellator is a pioneering Mexican organization dedicated to promoting the growth and development of esports on a regional and international scale. The organization actively participates in organizing and hosting competitive events and curating various activities that bring together individuals passionate about their favorite video games. Through these endeavors, Noctis Bellator strives to build a vibrant community of gamers from diverse backgrounds and skill levels, fostering a culture of camaraderie and mutual respect.
              <br><br>
              By providing opportunities for players to engage in healthy competition, Noctis Bellator aims to elevate the esports experience for all involved. The organization's vision extends beyond Mexico, seeking to expand its reach across Latin America and eventually across the globe. This expansion includes creating an inclusive, international, and multicultural community that shares a common for gaming.
              <br><br>
              Noctis Bellator's efforts encompass nurturing emerging talent, providing educational resources, and supporting initiatives that advance the esports landscape. Through collaboration within the gaming industry, the organization plays a crucial role in shaping the future.
          </p>
      </div>
  </div>
</div>

<div class="container text-center mt-4 p-5">
  <div class="row justify-content-center">
      <div class="col-sm-10 col-lg-12">
          <h2 class="mb-4">Our Team</h2>
          <p class="mb-1">
              Our team at Noctis Bellator is a diverse and talented group of individuals passionate about the world of esports. Comprising experienced professionals and avid gamers, our team is dedicated to creating a positive impact in the gaming community. Each member brings unique expertise and perspective, allowing us to excel in organizing competitions, curating engaging events, and fostering a vibrant community.
              <br><br>
              Our team works collaboratively to ensure the smooth execution of tournaments and activities, offering participants memorable and inclusive experiences. We prioritize innovation, creativity, and inclusivity in all aspects of our work, striving to push the boundaries of what is possible in the esports industry.
              <br><br>
              From event planning to content creation, our team covers a broad range of roles, ensuring every detail is meticulously managed. We continuously seek to expand our knowledge and stay ahead of the curve in the rapidly evolving world of esports.
              <br><br>
              At Noctis Bellator, we take pride in our team's dedication and passion for gaming. Together, we work toward our vision of creating a thriving, international community united by a shared love of esports and a commitment to healthy competition.
          </p>
      </div>
  </div>
</div>
-->