<div class="container">
    <div class="row">
      <div class="col">
        <p>Noctis Bellator es una organización Mexicana creada para fomentar el crecimiento de los esports. Contribuyendo en competencias y en la creación de actividades que acerquen a todos los interesados a sus videojuegos favoritos. La visión de Noctis Bellator es crecer a todo latinoamérica y crear una comunidad internacional y multicultural con la misma pasión por los videojuegos y la sana competencia.</p>
      </div>
    </div>
  </div>
  
