@media (max-width: 768px) {
  .text-container {
      position: absolute;
      top: 1350px;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

@media (max-width: 576px) {
  .text-container {
      position: absolute;
      top: 1500px;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .text-container {
      position: absolute;
      top: 1100px;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

@media (min-width: 992px) {
  .text-container {
      position: absolute;
      top: 900px;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

@media (min-width: 1200px) {
  .text-container {
      position: absolute;
      top: 825px;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

.container {
  margin-top: -50px;
}

.logito {
  scale: 75%;
}

.textos {
  margin-top: -75px;
}
