@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1306 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  color: #fe8f40;
  margin: 40px 25px;
  max-width: 285px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  top: -25px;
}
.snip1306 h1,
.snip1306 h5 {
  margin: 0;
  text-transform: uppercase;
}
.snip1306 h1 {
  font-family: 'Righteous', Arial, sans-serif;
  font-size: 1.8em;
  line-height: 50px;
  position: relative;
  background-color:  #fe8f40;
  color: #212121;
  text-align: center;
  margin: 0 30px 10px;
}
.snip1306 h1:before,
.snip1306 h1:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -5px;
  border-width: 25px 10px;
  border-style: solid;
}
.snip1306 h1:before {
  left: -23px;
  border-color:  #fe8f40  #fe8f40  #fe8f40 transparent;
}
.snip1306 h1:after {
  right: -23px;
  border-color:  #fe8f40 transparent  #fe8f40  #fe8f40;
}
.snip1306 h5 {
  font-weight: 500;
}
.snip1306 h6 {
  margin: 0;
  display: inline-block;
  position: relative;
}
.snip1306 h6:before,
.snip1306 h6:after {
  position: absolute;
  height: 1px;
  content: '';
  background:  #fe8f40;
  width: 30px;
  top: 50%;
}
.snip1306 h6:before {
  left: -35px;
}
.snip1306 h6:after {
  right: -35px;
}
.snip1306 .diamond {
  width: 10px;
  height: 10px;
  margin: 15px 5px;
  display: inline-block;
  line-height: 80px;
  background:  #fe8f40;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.snip1306 .diamond:nth-of-type(2) {
  -webkit-transform: rotateZ(-45deg) scale(2) translate(2px, -2px);
  transform: rotateZ(-45deg) scale(2) translate(2px, -2px);
}
/* Demo purposes only */
body {
  background-color: #212121;
}


.snip1306 {
scale: 150%;
  }
  



  .snip1306 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    color:  #fe8f40;
    margin: 40px 25px;
    max-width: 285px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  .snip1306 h1,
  .snip1306 h5 {
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap; /* Evita el salto de línea */
  }
  .snip1306 h1 {
    font-family: 'Righteous', Arial, sans-serif;
    font-size: 1.8em;
    line-height: 50px;
    position: relative;
    background-color:  #fe8f40;
    color: #212121;
    text-align: center;
    margin: 0 30px 10px;
  }
  /* Resto del CSS omitido por brevedad */
  