video {
    height: 45vh; 
    width: 100%;
    object-fit: cover; 
    z-index: -1;
}

.video-container video {
    /*object-position: 0px -180px; */
    position: absolute;
    top: 0;
    left: 0;
    top: 50px;
    filter: brightness(90%);
}


