.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    position: relative;
    z-index: -1;
    padding-top: 105px;
    filter: drop-shadow(1px 1px 6px rgb(0, 128, 0, 0.65));
}





