/*
CODIGOS DE COLOR DE OSCURO A CLARO
#0e370f
#244d23
#3a6338
#50794c
#668f60*/

/* styles.css (o styles.scss) */


/*
.background-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/fondo.jpg');
  background-size: cover;
  background-position: center;
  z-index: -100;  Asegúrate de que esté detrás de otros elementos
  overflow: hidden; 
}
 */



/*
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -100;
    user-select: none; 
    overflow: hidden; 
      }
     */

  

  
  .navbar-toggler{
    filter: invert();
  }
  
  footer {
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Asegúrate de que el footer esté por encima de otros elementos */
    background-color: #0e370f !important;
  }
  
  footer h6,p, span, .text-center {
    color: #fdf8f0;
  }


  .navbar {
    background-color: #0e370f; /* Fondo del navbar */
  }
  
  .navbar-nav .nav-link {
    color: #fdf8f0;    /* Color de texto de los enlaces */
  }
  
  .dropdown-menu .dropdown-item {
    color: #fdf8f0;   /* Color de texto de los items del dropdown */
  }
  
  .dropdown-menu {
    background-color: #0e370f; /* Fondo del dropdown */
  }
  


/* Aplica el color naranja a los enlaces activos y los enlaces en los que se pasa el mouse */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.dropdown-menu .dropdown-item:hover,
a:hover i {
    color: #fe9f05;
}

/* Personaliza el fondo del interruptor */
.form-check-input {
  background-color: white;
  border-color: #fe9f05;
}

/* Cambia el color del círculo (deslizador) */
.form-check-input:checked {
  background-color: #fe9f05;
  border-color: #fe9f05;
}

/* Cambia el color del fondo del interruptor (carril) cuando está activado */
.form-check-input:checked ~ .form-check-label::before {
  background-color: #fe9f05;
}

/* Estilos adicionales para personalizar el aspecto del interruptor */
.form-check-label::before {
  background-color: white;
  border-color: #fe9f05;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Establece el fondo verde para la clase bg-green */
.bg-green {
  background-color: #0e370f 
}

