
  .navbar-toggler{
    filter: invert();
  }
  
  footer {
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
    background-color: #0e370f !important;
  }
  
  footer h6,p, span, .text-center {
    color: #fdf8f0;
  }


  .navbar {
    background-color: #0e370f; 
  }
  
  .navbar-nav .nav-link {
    color: #fdf8f0;    
  }
  
  .dropdown-menu .dropdown-item {
    color: #fdf8f0;   
  }
  
  .dropdown-menu {
    background-color: #0e370f; 
  }
  
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.dropdown-menu .dropdown-item:hover,
a:hover i {
    color: #fe9f05;
}


.form-check-input {
  background-color: white;
  border-color: #fe9f05;
}


.form-check-input:checked {
  background-color: #fe9f05;
  border-color: #fe9f05;
}


.form-check-input:checked ~ .form-check-label::before {
  background-color: #fe9f05;
}


.form-check-label::before {
  background-color: white;
  border-color: #fe9f05;
  transition: background-color 0.3s, border-color 0.3s;
}


.bg-green {
  background-color: #0e370f 
}

footer span,
footer p,
footer a {
  font-size: 14px; /* Establece el tamaño de fuente a 2 rem */
}


 /* 
 Estilo para el rectángulo naranja 
     /* Estilo para el rectángulo naranja 
        .wave-container {
            width: 100%; 
            height: 220px; 
            background-color: #67f50800; 
            position: relative; 
        }

        /* Estilo para el SVG de onda
        .wave {
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: auto; 
        }

*/

    