@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0057 {
  position: relative;
  overflow: hidden;
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  width: 100%;
  transition: transform 0.2s ease-in-out; 
  background-image: url("../../../assets/fondo.jpg");
  color: #000000;
 filter: drop-shadow(1px 1px 6px rgb(0, 128, 0, 0.65));

}

figure.snip0057 .image {
  width: 50%;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
figure.snip0057 .image img {
  position: relative;
  display: block;
  left: -15%;
  z-index: 1;
  -webkit-transform: skew(15deg);
  transform: skew(15deg);
}

figure.snip0057 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 50%;
}
figure.snip0057 figcaption h2,
figure.snip0057 figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  width: 100%;
}
figure.snip0057 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0057 figcaption h2 span {
  font-weight: 800;
}
figure.snip0057 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0057 figcaption .icons {
  width: 100%;
  text-align: right;
}
figure.snip0057 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
  opacity: 0;
}
figure.snip0057 figcaption a {
  opacity: 0.3;
}

figure.snip0057 .position {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
}

figure.snip0057.red .position {
  background: #055731;
}
figure.snip0057.yellow .position {
  background: #06e711;
}


figure.snip0057:hover {
 
  transform: translate(-1px, -1px); /* Traslada -5px tanto en el eje X como en el eje Y */
  border-bottom: 1px solid rgba(255, 100, 46, 0.3); 
  border-right: 1px solid rgba(255,  100, 46, 0.3); 
  border-color: rgba(230, 110, 50, 0.85);
  box-shadow: 2px 2px 1px rgba(230, 110, 50, 0.3);
  filter: brightness(120%) drop-shadow(1px 1px 6px rgb(230, 110, 50, 0.65));
}

