<div class="col-md-4">
    <figure class="snip0057 red hover">
        <figcaption>
            <h2><span>{{ nombre }}</span></h2>
            <p>{{ descripcion }}</p>
            <div class="icons">
                <a href="#"><i class="ion-ios-home"></i></a>
                <a href="#"><i class="ion-ios-email"></i></a>
                <a href="#"><i class="ion-ios-telephone"></i></a>
            </div>
        </figcaption>
        <div class="image">
            <img [src]="imagen" alt="Imagen de la carta" />
        </div>
        <div class="position">
            <a [href]="instagram" target="_blank" class="me-3 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a [href]="twitter" target="_blank" class="me-3 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a [href]="tiktok" target="_blank" class="me-3 text-reset">
                <i class="fab fa-tiktok"></i>
            </a>
            <a [href]="twitch" target="_blank" class="me-3 text-reset">
                <i class="fab fa-twitch"></i>
            </a>
        </div>
    </figure>
</div>
