
    <figure class="snip1336">
        <img [src]="fondoimagen" alt="sample69" />
        <figcaption>
                <img [src]="ciruloimagen" alt="profile-sample5" class="profile" />
                <h2>{{ nombre }}<span>{{ roll }}</span></h2>
                <p>{{ descripcion }}</p>
                <a [href]="instagram" target="_blank" class="me-3 text-reset" class="follow">instagram</a>
                <a [href]="twitter" target="_blank" class="me-3 text-reset" class="info">twitter</a>
        </figcaption>
    </figure>

