
    <figure class="snip1336 mx-auto mb-5">
        <img [src]="fondoimagen"/>
        <figcaption>
                <img [src]="ciruloimagen"class="profile" />
                <h2>{{ nombre }}<span>{{ roll }}</span></h2>
                <p>{{ descripcion }}</p>
                <div class="links-container justify-content-center">
                <a [href]="instagram" target="_blank">instagram</a>
                <a [href]="twitter" target="_blank">twitter</a>
            </div>
        </figcaption>
    </figure>

