<app-p 
h2="Nuestro Staff, La columna vertebral de la organización"
p="Nuestro personal es una parte fundamental del éxito de nuestra organización, conformado por un equipo de profesionales apasionados y talentosos que trabajan incansablemente para lograr los objetivos y metas de la empresa. Aquí te presentamos a algunos de los miembros clave de nuestro equipo:

Moss y Sterlux: Son los desarrolladores apasionados por los videojuegos y también los CEO de nuestra organización. Su visión y liderazgo han impulsado el crecimiento de la empresa, manteniéndola a la vanguardia de la industria.

Apocca: Nuestro head-coach argentino, que ha trabajado en distintos equipos tanto dentro como fuera de la organización. Ha contribuido a equipos de Valorant, Rainbow Six, y actualmente Counter-Strike. Además de su labor en los juegos, Apocca ha realizado importantes aportes al desarrollo de nuestro sitio web, enriqueciendo aún más la experiencia de los usuarios.

Bocker y Uzzvi: Han trabajado con nosotros desde el principio como managers y asistentes, asumiendo diversas tareas que van desde la gestión de redes sociales hasta la programación de scrims y partidos. Su dedicación garantiza que la organización funcione de manera fluida y eficiente.

Jaz: Nuestra psicóloga, quien aporta su conocimiento y experiencia para apoyar a nuestros equipos en sus momentos más desafiantes. Su trabajo es esencial para sacar a relucir lo mejor de cada jugador, fortaleciendo la cohesión y el bienestar general de nuestros equipos.
Con este equipo excepcional a la cabeza, nuestra organización se enorgullece de tener un grupo comprometido y apasionado por el éxito de la empresa y de todos sus miembros.">
</app-p>

<div class="container mx-auto">
        <div class="row justify-content-space-evenly">
                <div class="col-xl-4 col-md-6 col-sm-12">
<app-carta-staff
[fondoimagen]="'../../assets/moss.JPG'"
[ciruloimagen]="'../../assets/moss.JPG'"
[nombre]="'Moss'"
[roll]="'C.E.O'"
[descripcion]="'Software developer. NoctisBellator C.E.O, Gamer, Foodie.'"
[instagram]="'https://www.instagram.com/moss.gamr/'"
[twitter]="'https://twitter.com/MossGamr'"
></app-carta-staff>
</div>

<div class="col-xl-4 col-md-6 col-sm-12">
<app-carta-staff
[fondoimagen]="'../../assets/sterlux.JPG'"
[ciruloimagen]="'../../assets/sterlux.JPG'"
[nombre]="'Sterlux'"
[roll]="'C.E.O'"
[descripcion]="'Software Developer. Co-CEO Noctis Bellator. Content creator. Catador de cerveza.'"
[instagram]="'https://www.instagram.com/sterlux/'"
[twitter]="'https://twitter.com/Sterlux'"
></app-carta-staff>
</div>

<div class="col-xl-4 col-md-6 col-sm-12">
<app-carta-staff
[fondoimagen]="'../../assets/apocca.png'"
[ciruloimagen]="'../../assets/apocca.png'"
[nombre]="'Apocca'"
[roll]="'Head Coach'"
[descripcion]="'Con más de 4 años de experiencia como coach, he trabajado con diversos equipos en Counter-Strike, Valorant y Rainbow Six en la región de LATAM.'"
[instagram]="'https://www.instagram.com/guido.apocca/'"
[twitter]="'https://twitter.com/apoccaCoach'"
></app-carta-staff>
</div>

<div class="col-xl-4 col-md-6 col-sm-12">
<app-carta-staff
[fondoimagen]="'../../assets/bocker.JPG'"
[ciruloimagen]="'../../assets/bocker.JPG'"
[nombre]="'Bocker'"
[roll]="'Manager'"
[descripcion]="'Amplia experiencia y conocimientos como manager en el mundo de los Sports.'"
[instagram]="'https://www.instagram.com/bckr_gg/'"
[twitter]="'https://www.instagram.com/bckr_gg/'"
></app-carta-staff>
</div>

<div class="col-xl-4 col-md-6 col-sm-12">
<app-carta-staff
[fondoimagen]="'../../../assets/profile.jpg'"
[ciruloimagen]="'../../../assets/profile.jpg'"
[nombre]="'Uzzve'"
[roll]="'Manager'"
[descripcion]="'Ex jugador de Noctis Bellator en R6 / Manager de Noctis Bellator.'"
[instagram]="'https://www.instagram.com/uzzve'"
[twitter]="'https://twitter.com/UzzveR6'"
></app-carta-staff>
</div>

<div class="col-xl-4 col-md-6 col-sm-12">
<app-carta-staff
[fondoimagen]="'../../assets/jaz.png'"
[ciruloimagen]="'../../assets/jaz.png'"
[nombre]="'Jazmin'"
[roll]="'Psicologa'"
[descripcion]="'Apasionada de trabajar con la persona y sus diversas facetas.'"
[instagram]="'https://www.instagram.com/jazmin.ggs'"
[twitter]="'https://twitter.com/jazmingspr'"
></app-carta-staff>
</div>
</div>
</div>
