<app-p 
h2="Our Dedicated Staff: The Backbone of Our Organization"
p="Our organization is home to a vibrant community of content creators who are passionate about gaming and dedicated to providing engaging and entertaining content for fans like you. Here are a few reasons why you should follow them:

Diverse Content: Our creators offer a wide range of content, from live streams and gameplays to tutorials and reviews. Whether you're looking for competitive esports matches or casual playthroughs, you'll find it all in one place.">
</app-p>

<div class="container">
    <div class="row">
        <div class="col-md-4">
<app-carta-staff
[fondoimagen]="'../../assets/moss.JPG'"
[ciruloimagen]="'../../assets/moss.JPG'"
[nombre]="'Moss'"
[roll]="'C.E.O'"
[descripcion]="'Software developer. NoctisBellator C.E.O, Gamer, Foodie.'"
[instagram]="'https://www.instagram.com/moss.gamr/'"
[twitter]="'https://twitter.com/MossGamr'"
></app-carta-staff>
</div>
        <div class="col-md-4">
<app-carta-staff
[fondoimagen]="'../../assets/sterlux.JPG'"
[ciruloimagen]="'../../assets/sterlux.JPG'"
[nombre]="'Sterlux'"
[roll]="'C.E.O'"
[descripcion]="'Software Developer. Co-CEO Noctis Bellator. Content creator. Catador de cerveza.'"
[instagram]="'https://www.instagram.com/sterlux/'"
[twitter]="'https://twitter.com/Sterlux'"
></app-carta-staff>
</div>
        <div class="col-md-4">
<app-carta-staff
[fondoimagen]="'../../assets/apocca.png'"
[ciruloimagen]="'../../assets/apocca.png'"
[nombre]="'Apocca'"
[roll]="'Head Coach'"
[descripcion]="'Con más de 4 años de experiencia como coach, he trabajado con diversos equipos en Counter-Strike, Valorant y Rainbow Six en la región de LATAM.'"
[instagram]="'https://www.instagram.com/guido.apocca/'"
[twitter]="'https://twitter.com/apoccaCoach'"
></app-carta-staff>
</div>
</div>
    <div class="row">
        <div class="col-md-4">
<app-carta-staff
[fondoimagen]="'../../../assets/profile.jpg'"
[ciruloimagen]="'../../../assets/profile.jpg'"
[nombre]="'Bocker'"
[roll]="'Manager'"
[descripcion]="'Amplia experiencia y conocimientos como manager en el mundo de los Sports.'"
[instagram]="''"
[twitter]="''"
></app-carta-staff>
</div>

        <div class="col-md-4">
<app-carta-staff
[fondoimagen]="'../../../assets/profile.jpg'"
[ciruloimagen]="'../../../assets/profile.jpg'"
[nombre]="'Uzzve'"
[roll]="'Manager'"
[descripcion]="'Ex jugador de Noctis Bellator en R6 / Manager de Noctis Bellator.'"
[instagram]="'https://www.instagram.com/uzzve'"
[twitter]="'https://twitter.com/UzzveR6'"
></app-carta-staff>
</div>

        <div class="col-md-4">
<app-carta-staff
[fondoimagen]="'../../assets/jaz.png'"
[ciruloimagen]="'../../assets/jaz.png'"
[nombre]="'Jazmin'"
[roll]="'Psicologa'"
[descripcion]="'Apasionada de trabajar con la persona y sus diversas facetas.'"
[instagram]="'https://www.instagram.com/jazmin.ggs'"
[twitter]="'https://twitter.com/jazmingspr'"
></app-carta-staff>
        </div>
    </div>
</div>

<app-p 
h2="Our Dedicated Staff: The Backbone of Our Organization"
p="Our organization is home to a vibrant community of content creators who are passionate about gaming and dedicated to providing engaging and entertaining content for fans like you. Here are a few reasons why you should follow them:

Diverse Content: Our creators offer a wide range of content, from live streams and gameplays to tutorials and reviews. Whether you're looking for competitive esports matches or casual playthroughs, you'll find it all in one place.">
</app-p>