
    <app-videofon></app-videofon>
    <div class="container logito">
    <app-logo></app-logo>
</div>
  

<app-p class="parrafo1"
h2="NOCTIS BELLATOR"
p="Noctis Bellator se esfuerza por ofrecer una experiencia inclusiva y enriquecedora para todos los amantes de los videojuegos, promoviendo valores como el trabajo en equipo, el respeto y la equidad en el juego. Nuestra misión es conectar a jugadores de todas las edades y niveles de habilidad, creando un espacio seguro y divertido para competir, aprender y compartir conocimientos. Además, trabajamos en estrecha colaboración con marcas para impulsar el crecimiento de la industria y brindar oportunidades de desarrollo a los talentos emergentes. A través de eventos y torneos de primer nivel, buscamos inspirar a la próxima generación de jugadores profesionales y entusiastas.">
</app-p>

<div class="container d-flex justify-content-center">
<button class="snip1544 primerboton" routerLink="/about-us">leer mas</button>
</div>

<app-texto2-equipo></app-texto2-equipo>
<div class="container d-flex justify-content-center mt-4">
  <button class="snip1544" routerLink="/teams">leer mas</button>
  </div>


<div class="container-fluid my-1 py-3">
<app-p 
h2="Nuestros creadores de contenidos"
p="Nuestros creadores de contenido son una parte integral de nuestra presencia en redes sociales, especialmente en plataformas como Twitch. Estos talentosos streamers trabajan continuamente y en diversos horarios para fomentar el crecimiento de nuestra marca y comunidad, compartiendo su pasión por los videojuegos con una audiencia global.">
</app-p>

<div class="container resp">
    <div class="row justify-content-space-evenly">
        <div class="col-lg-4 col-sm-12">
            <app-carta
                nombre="ArlenZukii"
                descripcion="Hola chic@s, mi nombre es Arlen pero pueden decirme Zukii o Tau, soy creadora de contenido en la Plataforma de Twitch, los espero uwu"
                imagen="../../assets/arlen.png"
                instagram="https://www.instagram.com/arlenzukii"
                twitter="https://twitter.com/ArlenZukii"
                tiktok="https://www.tiktok.com/@arlenzukii"
                twitch="https://www.twitch.tv/arlenzukii"
            ></app-carta>
        </div>
    
        <div class="col-lg-4 col-sm-12">
            <app-carta
                nombre="elzamabhr"
                descripcion="Que onda raza! yo soy el zama, ingeniero de software de día y gamer sin manos de noche."
                imagen="../../assets/elzamabhr.JPG"
                instagram="https://www.instagram.com/elzamabhr"
                twitter="https://twitter.com/ElZamaBHR"
                tiktok="https://www.tiktok.com/@elzamabhr"
                twitch="https://www.twitch.tv/elzamabhr"
            ></app-carta>
        </div>

        <div class="col-lg-4 col-sm-12">
            <app-carta
            nombre="WadaGamer"
            descripcion="Me llamo Marco y hago una de las cosas que más me gusta en la vida los videojuegos como forma de entretenimiento para las demás personas."
            imagen="../../assets/wadagamer.png"
            instagram="https://www.instagram.com/wadagamer1/"
            twitter="https://twitter.com/WadaGamer1"
            tiktok="https://www.tiktok.com/@wadagamer"
            twitch="https://www.twitch.tv/wadagamer"
            ></app-carta>
        </div>

    </div>
</div>
<div class="container d-flex justify-content-center">
  <button class="snip1544 creadores" routerLink="/creators">leer mas</button>
  </div>
</div>
  

<div class="container-fluid py-1 staffff">
<app-p 
h2="La columna vertebral de la organización"
p="Nuestro personal es una parte fundamental del éxito de nuestra organización, conformado por un equipo de profesionales apasionados y talentosos que trabajan incansablemente para lograr los objetivos y metas de la empresa. Aquí te presentamos a algunos de los miembros clave de nuestro equipo.">
</app-p>

<div class="container d-flex justify-content-center">
    <div class="row">

        <div class="col-md-4 col-sm-12">
            <app-carta-staff
                [fondoimagen]="'../../assets/moss.JPG'"
                [ciruloimagen]="'../../assets/moss.JPG'"
                [nombre]="'Moss'"
                [roll]="'C.E.O'"
                [descripcion]="'Software developer. NoctisBellator C.E.O, Gamer, Foodie.'"
                [instagram]="'https://www.instagram.com/moss.gamr/'"
                [twitter]="'https://twitter.com/MossGamr'"
            ></app-carta-staff>
        </div>

        <div class="col-md-4 col-sm-12">
            <app-carta-staff
                [fondoimagen]="'../../assets/sterlux.JPG'"
                [ciruloimagen]="'../../assets/sterlux.JPG'"
                [nombre]="'Sterlux'"
                [roll]="'C.E.O'"
                [descripcion]="'Software Developer. Co-CEO Noctis Bellator. Content creator. Catador de cerveza.'"
                [instagram]="'https://www.instagram.com/sterlux/'"
                [twitter]="'https://twitter.com/Sterlux'"
            ></app-carta-staff>
        </div>

        <div class="col-md-4 col-sm-12">
            <app-carta-staff
            [fondoimagen]="'../../assets/apocca.png'"
            [ciruloimagen]="'../../assets/apocca.png'"
            [nombre]="'Apocca'"
            [roll]="'Head Coach'"
            [descripcion]="'Con más de 4 años de experiencia como coach, he trabajado con diversos equipos en Counter-Strike, Valorant y Rainbow Six en la región de LATAM.'"
            [instagram]="'https://www.instagram.com/guido.apocca/'"
            [twitter]="'https://twitter.com/apoccaCoach'"
            ></app-carta-staff>
        </div>

    </div>
</div>


<div class="container d-flex justify-content-center">
  <button class="snip1544" routerLink="/staff">leer mas</button>
  </div>
</div>


  
  
  