<app-logo></app-logo>

<app-about-us>
</app-about-us>
<div class="container d-flex justify-content-end">
<button class="snip1544" routerLink="/about-us">About us</button>
</div>
<app-texto2-equipo></app-texto2-equipo>
<div class="container d-flex justify-content-end">
  <button class="snip1544" routerLink="/teams">Teams</button>
  </div>


<app-p 
h2="Meet Our Content Creators"
p="Our organization is home to a vibrant community of content creators who are passionate about gaming and dedicated to providing engaging and entertaining content for fans like you. Here are a few reasons why you should follow them:
      
Diverse Content: Our creators offer a wide range of content, from live streams and gameplays to tutorials and reviews. Whether you're looking for competitive esports matches or casual playthroughs.">
</app-p>

<div class="container mx-auto">
    <div class="row justify-content-space-evenly">
        <div class="col-lg-6 col-sm-12">
            <app-carta
                nombre="ArlenZukii"
                descripcion="Hola chic@s, mi nombre es Arlen pero pueden decirme Zukii o Tau, soy creadora de contenido en la Plataforma de Twitch, los espero uwu"
                imagen="../../assets/arlen.png"
                instagram="https://www.instagram.com/arlenzukii"
                twitter="https://twitter.com/ArlenZukii"
                tiktok="https://www.tiktok.com/@arlenzukii"
                twitch="https://www.twitch.tv/arlenzukii"
            ></app-carta>
        </div>
    
        <div class="col-lg-6 col-sm-12">
            <app-carta
                nombre="elzamabhr"
                descripcion="Que onda raza! yo soy el zama, ingeniero de software de día y gamer sin manos de noche."
                imagen="../../assets/elzamabhr.JPG"
                instagram="https://www.instagram.com/elzamabhr"
                twitter="https://twitter.com/ElZamaBHR"
                tiktok="https://www.tiktok.com/@elzamabhr"
                twitch="https://www.twitch.tv/elzamabhr"
            ></app-carta>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-end">
  <button class="snip1544" routerLink="/creators">Creators</button>
  </div>

<app-p 
h2="Our Dedicated Staff: The Backbone of Our Organization"
p="Our organization is home to a vibrant community of content creators who are passionate about gaming and dedicated to providing engaging and entertaining content for fans like you. Here are a few reasons why you should follow them:
      
Diverse Content: Our creators offer a wide range of content, from live streams and gameplays to tutorials and reviews. Whether you're looking for competitive esports matches o casual playthroughs, you'll find it all in one place.">
</app-p>

<div class="container mx-auto">
    <div class="row justify-content-space-evenly">
        <div class="col-md-6 col-sm-12">
            <app-carta-staff
                [fondoimagen]="'../../assets/moss.JPG'"
                [ciruloimagen]="'../../assets/moss.JPG'"
                [nombre]="'Moss'"
                [roll]="'C.E.O'"
                [descripcion]="'Software developer. NoctisBellator C.E.O, Gamer, Foodie.'"
                [instagram]="'https://www.instagram.com/moss.gamr/'"
                [twitter]="'https://twitter.com/MossGamr'"
            ></app-carta-staff>
        </div>

        <div class="col-md-6 col-sm-12">
            <app-carta-staff
                [fondoimagen]="'../../assets/sterlux.JPG'"
                [ciruloimagen]="'../../assets/sterlux.JPG'"
                [nombre]="'Sterlux'"
                [roll]="'C.E.O'"
                [descripcion]="'Software Developer. Co-CEO Noctis Bellator. Content creator. Catador de cerveza.'"
                [instagram]="'https://www.instagram.com/sterlux/'"
                [twitter]="'https://twitter.com/Sterlux'"
            ></app-carta-staff>
        </div>
       
    </div>
    
</div>

<div class="container d-flex justify-content-end">
  <button class="snip1544" routerLink="/staff">Staff</button>
  </div>



  
  
  